!!! 5
%html
  %head
    %script(src="/libs/jquery/dist/jquery.min.js")
    %script(src="/libs/handlebars/handlebars.min.js")
    %script(src="/libs/ember/ember.min.js")
    %script(src="/libs/ember-data/ember-data.min.js")
    %script(src="/scripts/javascript/player.js")

    %link(href="/styles/player.css" rel="stylesheet" type="text/css")
