!!! 5
%html
  %head
    %script(src="/libs/jquery/dist/jquery.js")
    %script(src="/libs/handlebars/handlebars.js")
    %script(src="/libs/ember/ember.js")
    %script(src="/libs/ember-data/ember-data.js")
    %script(src="/scripts/javascript/popup.js")

    %link(href="/styles/popup.css" rel="stylesheet" type="text/css")

  %body
    #tabs
      .tab(active="{{#link-to 'shows'}}true{{/}}")
        Shows
      .tab(active="{{#link-to 'player'}}true{{/}}")
        Player
      .tab(active="{{#link-to 'settings'}}true{{/}}")
        Settings
    #context
      {{outlet}}
